body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

/* TABLE */
#table {
  display:grid;
  grid-template-columns:repeat(18,50px);
  gap:5px;
  justify-content:center;
}

.element {
  padding:8px;
  border-radius:6px;
  cursor:pointer;
  color:white;
}

/* COLORS */
.alkali{background:#ef4444;}
.alkaline{background:#f97316;}
.transition{background:#eab308;}
.metalloid{background:#22c55e;}
.nonmetal{background:#06b6d4;}
.halogen{background:#3b82f6;}
.noble{background:#8b5cf6;}
.lanthanoid{background:#ec4899;}
.actinoid{background:#a855f7;}

/* MODAL */
.modal {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  display:none;
}

.modal.show {
  display:block;
}

.modal-content {
  background:#1e293b;
  padding:20px;
  width:300px;
  margin:10% auto;
}

/* QUIZ */
.quiz-panel {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  opacity:0;
  pointer-events:none;
  transition:0.3s;
}

.quiz-panel.show {
  opacity:1;
  pointer-events:auto;
}

.quiz-box {
  background:#1e293b;
  padding:20px;
  width:90%;
  max-width:400px;
  margin:5% auto;
  border-radius:10px;
  transform:scale(0.8);
  transition:0.3s;
}

.quiz-panel.show .quiz-box {
  transform:scale(1);
}
