body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

#table {
  display:grid;
  grid-template-columns:repeat(18,50px);
  gap:5px;
  justify-content:center;
  padding:20px;
}

.element {
  background:#1e293b;
  padding:6px;
  border-radius:6px;
  cursor:pointer;
  font-size:12px;
}

/* MODAL */
.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:none;
}

.modal.show {
  display:block;
}

.modal-content {
  background:#1e293b;
  padding:20px;
  width:300px;
  margin:10% auto;
  border-radius:10px;
}

/* QUIZ */
.quiz-panel {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  opacity:0;
  pointer-events:none;
  transition:0.3s;
}

.quiz-panel.show {
  opacity:1;
  pointer-events:auto;
}

.quiz-box {
  background:#1e293b;
  padding:20px;
  width:90%;
  max-width:400px;
  margin:5% auto;
  border-radius:10px;
}
